.bao{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    height: 300px;
}
.anh{
    width: 50%;
    /* background-color: yellow; */
    display: inline-block;
    text-align: center;
    height: 300px;
}
.bentrai{
    width: 30%;
    display: inline-block;
    background-color: rgb(221, 220, 220);
    overflow: hidden;
    border-radius:10%;
}
.headerr{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: greenyellow; */
    height: 30%;
    width: 100%;
}
.doan{
    /* padding-left: 50px; */
    padding: 5px 10px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: rgb(47, 102, 255); */
    height: 50%;
    width: 100%;
    font-size: 14px;
}
.anh>img{
    width: 50%;
    height: 100%;
    box-shadow: 5px 10px;
    -webkit-box-shadow: 14px 20px 73px -14px rgba(0,0,0,1);
    -moz-box-shadow: 14px 20px 73px -14px rgba(0,0,0,1);
box-shadow: 14px 20px 73px -14px rgba(0,0,0,1);
}
.hot{
    display: block;
    height: 50px;
    background-color: ivory;
}

